# 4.3 데이터프레임 고급 인덱싱

**행을 먼저 출력할경우에 loc, iloc를 사용한다. **   

Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer) 속성도 제공한다.

- loc : 라벨값 기반의 2차원 인덱싱
```
df["열"]["행"] -> df.loc[행,열]
```

- iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱
```
df["열"]["행"] -> df.iloc[행.열]
```

In [2]:
import numpy as np
import pandas as pd

## loc 인덱서

In [4]:
df = pd.DataFrame(
    np.arange(10, 22).reshape(3, 4), 
    index=["a", "b", "c"], 
    columns=["A", "B", "C", "D"]
)
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

### 인덱싱값을 하나만 받는 경우

만약 loc 인덱서를 사용하면서 인덱스를 하나만 넣으면 행(row)을 선택한다.

In [7]:
# 데이터 시리즈가 출력된다.
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [11]:
# 데이터프레임이 출력된다.
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [12]:
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [10]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

데이터베이스와 같은 인덱스를 가지는 불리언 시리즈도 행을 선택하는 인덱싱값으로 쓸 수 있다.

In [14]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [15]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [17]:
df[df.A > 15]

    A   B   C   D
c  18  19  20  21

loc 인덱서가 없는 경우에 사용했던 라벨 인덱싱이나 라벨 리스트 인덱싱은 불가능하다

In [19]:
df["A"]

a    10
b    14
c    18
Name: A, dtype: int32

In [21]:
# loc 의 경우 행을 키값을 가지기 때문에 키 에러를 발생시킨다.
# df.loc["A"] # KeyError
# df.loc[["A", "B"]]  # KeyError

In [23]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [24]:
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

### 인덱싱값을 행과 열 모두 받는 경우

In [25]:
df.loc["a", "A"]

10

In [26]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [27]:
df.loc["b":, "A":"B"]

    A   B
b  14  15
c  18  19

## iloc 인덱서

iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다. 다른 사항은 loc 인덱서와 같다.

In [5]:
df.iloc[0, 1]

11

In [7]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [8]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int32

In [9]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

loc 인덱서와 마찬가지로 인덱스가 하나만 들어가면 행을 선택한다.

In [10]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [11]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42