# 4.5 데이터프레임 인덱스 조작

In [8]:
import numpy as np
import pandas as pd

## 데이터 프레임 인덱스 설정 및 제거

- set_index : 기존의 행 인덱스를 제거하고 데이터 열 중 하나를 인덱스로 설정
- reset_index : 기존의 행 인덱스를 제거하고 인덱스를 데이터 열로 추가

In [11]:
np.random.seed(2020)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

set_index 메서드로 특정한 열을 인덱스로 설정할 수 있다. 이 때 기존의 인덱스는 없어진다.

In [12]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.99  0.22  0.14
B   0.87  0.28  0.76
C   0.51  0.34  0.74
D   0.27  0.86  0.36
E   0.34  0.16  0.34

In [13]:
df2.set_index("C2")

        C3    C4
C2
0.99  0.22  0.14
0.87  0.28  0.76
0.51  0.34  0.74
0.27  0.86  0.36
0.34  0.16  0.34

반대로 reset_index 메서드를 쓰면 인덱스를 보통의 자료열로 바꿀 수도 있다. 이 때 인덱스 열은 자료열의 가장 선두로 삽입된다. 데이터프레임의 인덱스는 정수로 된 디폴트 인덱스로 바뀐다.

In [14]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

reset_index 메서드를 호출할 때 인수 drop=True 로 설정하면 인덱스 열을 보통의 자료열로 올리는 것이 아니라 그냥 버리게 된다.

In [16]:
df3 = df2.reset_index(drop=True)
df3

     C2    C3    C4
0  0.99  0.22  0.14
1  0.87  0.28  0.76
2  0.51  0.34  0.74
3  0.27  0.86  0.36
4  0.34  0.16  0.34

### 연습 문제 4.5.1

5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

1. 학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다. reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

In [25]:
np.random.seed(2020)
df1 = pd.DataFrame(
    np.vstack([
        list('ABCDE'),
        np.round(np.random.rand(3, 5), 2)
    ]).T,
    columns=["C1","C2","C3","C4"]
)
df1

  C1    C2    C3    C4
0  A  0.99  0.22  0.14
1  B  0.87  0.28  0.76
2  C  0.51  0.34  0.74
3  D  0.27  0.86  0.36
4  E  0.34  0.16  0.34

2. 학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 set_index 명령을 적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.

## 다중 인덱스

In [27]:
np.random.seed(0)
df3 = pd.DataFrame(np.round(np.random.randn(5, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C1", "C2", "C1", "C2"]])
df3

      A           B
     C1    C2    C1    C2
0  1.76  0.40  0.98  2.24
1  1.87 -0.98  0.95 -0.15
2 -0.10  0.41  0.14  1.45
3  0.76  0.12  0.44  0.33
4  1.49 -0.21  0.31 -0.85

In [28]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

In [30]:
# 데이터 추출
df4[('A','D')][('F','id_1')]

0.12

## 행 인덱스와 열 인덱스 교환

In [47]:
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74

df4.stack()

In [48]:
df4.stack()

Cidx1                 A     B
Ridx1 Ridx2 Cidx2
M     id_1  C      1.76  0.98
            D      0.40  2.24
      id_2  C      1.87  0.95
            D     -0.98 -0.15
      id_3  C     -0.10  0.14
            D      0.41  1.45
F     id_1  C      0.76  0.44
            D      0.12  0.33
      id_2  C      1.49  0.31
            D     -0.21 -0.85
      id_3  C     -2.55  0.86
            D      0.65 -0.74

In [56]:
df4.stack("Cidx1")

Cidx2                 C     D
Ridx1 Ridx2 Cidx1
M     id_1  A      1.76  0.40
            B      0.98  2.24
      id_2  A      1.87 -0.98
            B      0.95 -0.15
      id_3  A     -0.10  0.41
            B      0.14  1.45
F     id_1  A      0.76  0.12
            B      0.44  0.33
      id_2  A      1.49 -0.21
            B      0.31 -0.85
      id_3  A     -2.55  0.65
            B      0.86 -0.74

In [49]:
df4.unstack()

Cidx1     A                                   B
Cidx2     C                 D                 C                 D
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F      0.76  1.49 -2.55  0.12 -0.21  0.65  0.44  0.31  0.86  0.33 -0.85 -0.74
M      1.76  1.87 -0.10  0.40 -0.98  0.41  0.98  0.95  0.14  2.24 -0.15  1.45

In [57]:
df4.unstack("Ridx2")

Cidx1     A                                   B
Cidx2     C                 D                 C                 D
Ridx2  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3  id_1  id_2  id_3
Ridx1
F      0.76  1.49 -2.55  0.12 -0.21  0.65  0.44  0.31  0.86  0.33 -0.85 -0.74
M      1.76  1.87 -0.10  0.40 -0.98  0.41  0.98  0.95  0.14  2.24 -0.15  1.45