In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [2]:
import matplotlib as mpl 
import matplotlib.pyplot as plt 
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

In [21]:
iris = sns.load_dataset('iris')
# iris.query("species in 'setosa'")['sepal_width'].tolist()
iris.groupby(iris.species).describe()

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.428  ...        1.575  1.9        50.0  0.246
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.105386  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [65]:
grps = iris.groupby('species')
q1 = grps.quantile(.25)
q3 = grps.quantile(.75)

iqr = q3 - q1
qs = q1 - 1.5 * iqr
ql = q3 + 1.5 * iqr

data = []
for i, grp in grps:
    # tmp = iris.query(f"""
    # (species in '{i}') \
    #     & (({qs['sepal_length'][i]} < sepal_length) & (sepal_length < {ql['sepal_length'][i]})) \
    #     & (({qs['sepal_width'][i]} < sepal_width) & (sepal_width < {ql['sepal_width'][i]})) \
    #     & (({qs['petal_length'][i]} < petal_length) & (petal_length < {ql['petal_length'][i]})) \
    #     & (({qs['petal_width'][i]} < petal_width) & (petal_width < {ql['petal_width'][i]}))
    # """)
    # data.append(tmp)

    if i not in 'setosa':
        continue
    # print( iris.sepal_width )
    # print( qs['sepal_width'][i] )
    print( 
        iris[iris['species'] == i][(qs['sepal_width'][i] < iris['sepal_width']) | (iris['sepal_width'] < ql['sepal_width'][i])] 
    )

    ## row data test
    # print(tmp['sepal_width'].tolist())
    
pd.concat(data).groupby('species').agg(['mean', 'std'])

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

ValueError: No objects to concatenate

In [5]:
iris.groupby(iris.species).agg(['mean', 'std'])

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

In [6]:
np.nan

nan