# Kakao Map API

이 문서는 로컬(Local) API 구현 방법을 소개합니다.   

<https://developers.kakao.com/docs/latest/ko/local/dev-guide>

In [1]:
import pandas as pd
import numpy as np

import requests
from urllib.parse import urlparse

In [2]:
key_fd = open('kakaomaprestapikey.txt', mode='r')
API_KEY = key_fd.read(100)
key_fd.close()

In [3]:
def getAPI(**kwargs):
    baseUrl = "https://dapi.kakao.com/v2/local/search/address.json?"
    params = []

    for k, v in kwargs.items():
        params.append("{}={}".format(k, v))        

    param = '&'.join(params)
    query = baseUrl + param

    return requests.get(urlparse(query).geturl(), headers={"Authorization": "KakaoAK "+API_KEY}).json()

In [4]:
data1 = getAPI(query='서울특별시 강서구 화곡로 302 (화곡동)')
data1['documents'][0]

{'address': {'address_name': '서울 강서구 화곡동 980-16',
  'b_code': '1150010300',
  'h_code': '1150059100',
  'main_address_no': '980',
  'mountain_yn': 'N',
  'region_1depth_name': '서울',
  'region_2depth_name': '강서구',
  'region_3depth_h_name': '화곡6동',
  'region_3depth_name': '화곡동',
  'sub_address_no': '16',
  'x': '126.849532173376',
  'y': '37.5509655144007'},
 'address_name': '서울 강서구 화곡로 302',
 'address_type': 'ROAD_ADDR',
 'road_address': {'address_name': '서울 강서구 화곡로 302',
  'building_name': '강서구청',
  'main_building_no': '302',
  'region_1depth_name': '서울',
  'region_2depth_name': '강서구',
  'region_3depth_name': '화곡동',
  'road_name': '화곡로',
  'sub_building_no': '',
  'underground_yn': 'N',
  'x': '126.849532173376',
  'y': '37.5509655144007',
  'zone_no': '07658'},
 'x': '126.849532173376',
 'y': '37.5509655144007'}

In [5]:
lng = float(data1['documents'][0]['x'])
lat = float(data1['documents'][0]['y'])
lng, lat

(126.849532173376, 37.5509655144007)

In [6]:
df = pd.read_csv('address.csv')
df

,Unnamed: 0,detBdNmList,engAddr,rn,emdNm,zipNo,roadAddrPart2,emdNo,sggNm,jibunAddr,...,lnbrMnnm,roadAddr,lnbrSlno,buldMnnm,bdKdcd,liNm,rnMgtSn,mtYn,bdMgtSn,buldSlno
0,0,NaN,"302, Hwagok-ro, Gangseo-gu, Seoul",화곡로,화곡동,7658,(화곡동),2,강서구,서울특별시 강서구 화곡동 980-16 강서구청,...,980,서울특별시 강서구 화곡로 302 (화곡동),16,302,0,NaN,115003005069,0,1150010300109800016015086,0
1,1,NaN,"105, Mokdongdong-ro, Yangcheon-gu, Seoul",목동동로,신정동,8095,(신정동),1,양천구,서울특별시 양천구 신정동 321-4 양천구청,...,321,서울특별시 양천구 목동동로 105 (신정동),4,105,0,NaN,114703114001,0,1147010100103210004000689,0
2,2,NaN,"210-2, Gilju-ro, Bucheon-si, Gyeonggi-do",길주로,중동,14547,(중동),2,부천시,경기도 부천시 중동 1156 부천시청 어린이집,...,1156,경기도 부천시 길주로 210-2 (중동),0,210,0,NaN,411903000065,0,4119010800111560000000001,2
3,3,NaN,"123, Dangsan-ro, Yeongdeungpo-gu, Seoul",당산로,당산동3가,7260,(당산동3가),3,영등포구,서울특별시 영등포구 당산동3가 385-1 영등포구청,...,385,서울특별시 영등포구 당산로 123 (당산동3가),1,123,0,NaN,115603118004,0,1156011300103850001029173,0
4,4,"민방위교육장,민원봉사실,본관동, 의회동,부대시설,신별관동,정보관동,주차요금정산서,팔각정","1, Saujung-ro, Gimpo-si, Gyeonggi-do",사우중로,사우동,10109,(사우동),2,김포시,경기도 김포시 사우동 263-1 김포시청,...,263,경기도 김포시 사우중로 1 (사우동),1,1,0,NaN,415703209060,0,4157010600102630001022084,0

In [7]:
def getCoords(address):
    api = getAPI(query=address)
    coords = {}
    coords.update({ 'x': float(api['documents'][0]['x']) })
    coords.update({ 'y': float(api['documents'][0]['y']) })
    return coords

print(getCoords('서울특별시 강서구 화곡로 302 (화곡동)'))

{'x': 126.849532173376, 'y': 37.5509655144007}

In [8]:
df[:1]

,Unnamed: 0,detBdNmList,engAddr,rn,emdNm,zipNo,roadAddrPart2,emdNo,sggNm,jibunAddr,...,lnbrMnnm,roadAddr,lnbrSlno,buldMnnm,bdKdcd,liNm,rnMgtSn,mtYn,bdMgtSn,buldSlno
0,0,NaN,"302, Hwagok-ro, Gangseo-gu, Seoul",화곡로,화곡동,7658,(화곡동),2,강서구,서울특별시 강서구 화곡동 980-16 강서구청,...,980,서울특별시 강서구 화곡로 302 (화곡동),16,302,0,NaN,115003005069,0,1150010300109800016015086,0

In [9]:
df['lat'] = np.nan
df['lon'] = np.nan

for i in df.index:
    addr = df['roadAddr'][i]
    coords = getCoords(addr)
    df['lat'][i] = coords['y']
    df['lon'][i] = coords['x']

df

,Unnamed: 0,detBdNmList,engAddr,rn,emdNm,zipNo,roadAddrPart2,emdNo,sggNm,jibunAddr,...,lnbrSlno,buldMnnm,bdKdcd,liNm,rnMgtSn,mtYn,bdMgtSn,buldSlno,lat,lon
0,0,NaN,"302, Hwagok-ro, Gangseo-gu, Seoul",화곡로,화곡동,7658,(화곡동),2,강서구,서울특별시 강서구 화곡동 980-16 강서구청,...,16,302,0,NaN,115003005069,0,1150010300109800016015086,0,37.550966,126.849532
1,1,NaN,"105, Mokdongdong-ro, Yangcheon-gu, Seoul",목동동로,신정동,8095,(신정동),1,양천구,서울특별시 양천구 신정동 321-4 양천구청,...,4,105,0,NaN,114703114001,0,1147010100103210004000689,0,37.517075,126.866543
2,2,NaN,"210-2, Gilju-ro, Bucheon-si, Gyeonggi-do",길주로,중동,14547,(중동),2,부천시,경기도 부천시 중동 1156 부천시청 어린이집,...,0,210,0,NaN,411903000065,0,4119010800111560000000001,2,37.502277,126.765004
3,3,NaN,"123, Dangsan-ro, Yeongdeungpo-gu, Seoul",당산로,당산동3가,7260,(당산동3가),3,영등포구,서울특별시 영등포구 당산동3가 385-1 영등포구청,...,1,123,0,NaN,115603118004,0,1156011300103850001029173,0,37.525963,126.896367
4,4,"민방위교육장,민원봉사실,본관동, 의회동,부대시설,신별관동,정보관동,주차요금정산서,팔각정","1, Saujung-ro, Gimpo-si, Gyeonggi-do",사우중로,사우동,10109,(사우동),2,김포시,경기도 김포시 사우동 263-1 김포시청,...,1,1,0,NaN,415703209060,0,4157010600102630001022084,0,37.615190,126.715717

In [11]:
df.to_csv('address2.csv', sep=',', encoding='utf8', index=False)