# Open Weather API

## Current Weather By geographic coordinates

<https://openweathermap.org/current>

In [1]:
import pandas as pd
import numpy as np

import requests
from urllib.parse import urlparse

In [2]:
key_fd = open('openweatherapikey.txt', mode='r')
API_KEY = key_fd.read(100)
key_fd.close()

In [3]:
lat = 37.550966
lon = 126.849532
units = 'metric'
lang = 'kr'

query = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&units={units}&lang={lang}&appid={API_KEY}"

result = requests.get(urlparse(query).geturl()).json()

In [4]:
main = result['weather'][0]['main']
desc = result['weather'][0]['description']
main, desc

('Clouds', '튼구름')

In [5]:
temp = result['main']['temp']
temp_min = result['main']['temp_min']
temp_max = result['main']['temp_max']
temp, temp_min, temp_max

(3.72, 3, 4)

In [6]:
temp = round(float(temp)+0.01, 1)
temp

3.7

### address2.csv 파일 읽어서 날씨 정보 입력하기

In [7]:
df = pd.read_csv('address2.csv')
df

,Unnamed: 0,detBdNmList,engAddr,rn,emdNm,zipNo,roadAddrPart2,emdNo,sggNm,jibunAddr,...,lnbrSlno,buldMnnm,bdKdcd,liNm,rnMgtSn,mtYn,bdMgtSn,buldSlno,lat,lon
0,0,NaN,"302, Hwagok-ro, Gangseo-gu, Seoul",화곡로,화곡동,7658,(화곡동),2,강서구,서울특별시 강서구 화곡동 980-16 강서구청,...,16,302,0,NaN,115003005069,0,1150010300109800016015086,0,37.550966,126.849532
1,1,NaN,"105, Mokdongdong-ro, Yangcheon-gu, Seoul",목동동로,신정동,8095,(신정동),1,양천구,서울특별시 양천구 신정동 321-4 양천구청,...,4,105,0,NaN,114703114001,0,1147010100103210004000689,0,37.517075,126.866543
2,2,NaN,"210-2, Gilju-ro, Bucheon-si, Gyeonggi-do",길주로,중동,14547,(중동),2,부천시,경기도 부천시 중동 1156 부천시청 어린이집,...,0,210,0,NaN,411903000065,0,4119010800111560000000001,2,37.502277,126.765004
3,3,NaN,"123, Dangsan-ro, Yeongdeungpo-gu, Seoul",당산로,당산동3가,7260,(당산동3가),3,영등포구,서울특별시 영등포구 당산동3가 385-1 영등포구청,...,1,123,0,NaN,115603118004,0,1156011300103850001029173,0,37.525963,126.896367
4,4,"민방위교육장,민원봉사실,본관동, 의회동,부대시설,신별관동,정보관동,주차요금정산서,팔각정","1, Saujung-ro, Gimpo-si, Gyeonggi-do",사우중로,사우동,10109,(사우동),2,김포시,경기도 김포시 사우동 263-1 김포시청,...,1,1,0,NaN,415703209060,0,4157010600102630001022084,0,37.615190,126.715717

In [8]:
weather_list = []; desc_list = []; temp_list = []

for i in df.index:
    url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_KEY}&units=metric&lang=kr"

    result = requests.get(urlparse(url).geturl()).json()
    main = result['weather'][0]['main']
    desc = result['weather'][0]['description']
    temp = result['main']['temp']
    temp = round(float(temp)+0.01, 1)
    temp_min = result['main']['temp_min']
    temp_max = result['main']['temp_max']
    weather_list.append(main)
    desc_list.append(desc)
    temp_list.append(f"{temp}/{temp_min}/{temp_max}")

In [9]:
df['weather'] = weather_list
df['desc'] = desc_list
df['temp'] = temp_list
df

,Unnamed: 0,detBdNmList,engAddr,rn,emdNm,zipNo,roadAddrPart2,emdNo,sggNm,jibunAddr,...,liNm,rnMgtSn,mtYn,bdMgtSn,buldSlno,lat,lon,weather,desc,temp
0,0,NaN,"302, Hwagok-ro, Gangseo-gu, Seoul",화곡로,화곡동,7658,(화곡동),2,강서구,서울특별시 강서구 화곡동 980-16 강서구청,...,NaN,115003005069,0,1150010300109800016015086,0,37.550966,126.849532,Clouds,튼구름,3.7/3/4
1,1,NaN,"105, Mokdongdong-ro, Yangcheon-gu, Seoul",목동동로,신정동,8095,(신정동),1,양천구,서울특별시 양천구 신정동 321-4 양천구청,...,NaN,114703114001,0,1147010100103210004000689,0,37.517075,126.866543,Clouds,튼구름,3.7/3/4
2,2,NaN,"210-2, Gilju-ro, Bucheon-si, Gyeonggi-do",길주로,중동,14547,(중동),2,부천시,경기도 부천시 중동 1156 부천시청 어린이집,...,NaN,411903000065,0,4119010800111560000000001,2,37.502277,126.765004,Clouds,튼구름,3.7/3/4
3,3,NaN,"123, Dangsan-ro, Yeongdeungpo-gu, Seoul",당산로,당산동3가,7260,(당산동3가),3,영등포구,서울특별시 영등포구 당산동3가 385-1 영등포구청,...,NaN,115603118004,0,1156011300103850001029173,0,37.525963,126.896367,Clouds,튼구름,3.7/3/4
4,4,"민방위교육장,민원봉사실,본관동, 의회동,부대시설,신별관동,정보관동,주차요금정산서,팔각정","1, Saujung-ro, Gimpo-si, Gyeonggi-do",사우중로,사우동,10109,(사우동),2,김포시,경기도 김포시 사우동 263-1 김포시청,...,NaN,415703209060,0,4157010600102630001022084,0,37.615190,126.715717,Clouds,튼구름,3.7/3/4

In [10]:
df.to_csv('address3.csv', sep=',', encoding='utf8', index=False)