# SQLite3 활용

### 접속

```
import sqlite3
conn = sqlite3.connect('./test.db')
# db access
conn.close()
```

In [4]:
import sqlite3
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('select * from test;')
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동')
(2, '대조영')

In [5]:
conn = sqlite3.connect('./test.db')
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

(1, '홍길동')
(2, '대조영')

In [6]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()

In [11]:
# 테이블 구조 변경
sql = 'alter table test add column age integer;'
cur.execute(sql)
# 변경사항 저장
conn.commit()

### 데이터 삽입

In [12]:
cur = conn.cursor()
sql = "insert into test(name, age) values('장보고', 1000);"
cur.execute(sql)
conn.commit()

In [13]:
# 파라미터는 튜플로 전달
rows = [('이우정', 40), ('김은숙', 45)]
cur = conn.cursor()
sql = "insert into test(name, age) values(?, ?);"
for row in rows:
    cur.execute(sql, row)
conn.commit()

In [14]:
cur.execute(sql, ('김수현', 60))
conn.commit()

In [16]:
rows = (('노희경', 30),('송지나', 35),('임성한', 40))
cur.executemany(sql, rows)
conn.commit()

In [19]:
rows = (['노희경', 30],['송지나', 35],['임성한', 40])
cur.executemany(sql, rows)
conn.commit()

In [17]:
rows = [('노희경', 30),('송지나', 35),('임성한', 40)]
cur.executemany(sql, rows)
conn.commit()

In [18]:
rows = [['노희경', 30],['송지나', 35],['임성한', 40]]
cur.executemany(sql, rows)
conn.commit()

### 데이터 조회

In [30]:
# 단건 조회
cur = conn.cursor()
select_sql = 'select * from test;'
cur.execute(select_sql)
row = cur.fetchone()
print(row)

(1, '홍길동', None)

In [31]:
# 여러건 조회
rows = cur.fetchmany(3)
for row in rows:
    print(row)

(2, '대조영', None)
(3, '장보고', 1000)
(4, '이우정', 40)

In [32]:
rows = cur.fetchmany(2)
for row in rows:
    print(row)

(5, '김은숙', 45)
(6, '김수현', 60)

In [33]:
rows = cur.fetchall()
for row in rows:
    print(row)

(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)
(13, '노희경', 30)
(14, '송지나', 35)
(15, '임성한', 40)
(16, '노희경', 30)
(17, '송지나', 35)
(18, '임성한', 40)
(19, '노희경', 30)
(20, '송지나', 35)
(21, '임성한', 40)

In [63]:
# 모두 조회
conn = sqlite3.connect('./test.db')
select_sql = 'select * from test;'
cur = conn.cursor()
cur.execute(select_sql)
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, '홍길동', 300)
(2, '대조영', 500)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)
(13, '노희경', 30)
(14, '송지나', 35)
(15, '임성한', 40)
(16, '노희경', 30)
(17, '송지나', 35)
(18, '임성한', 40)
(19, '노희경', 30)
(20, '송지나', 35)
(21, '임성한', 40)

In [62]:
# 순회 조회
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute(select_sql)
for row in cur:
    print(row)
conn.close()

(1, '홍길동', 300)
(2, '대조영', 500)
(3, '장보고', 1000)
(4, '이우정', 40)
(5, '김은숙', 45)
(6, '김수현', 60)
(7, '노희경', 30)
(8, '송지나', 35)
(9, '임성한', 40)
(13, '노희경', 30)
(14, '송지나', 35)
(15, '임성한', 40)
(16, '노희경', 30)
(17, '송지나', 35)
(18, '임성한', 40)
(19, '노희경', 30)
(20, '송지나', 35)
(21, '임성한', 40)

In [61]:
# 필요한 컬럼만 조회
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select name, age from test order by name;")
for row in cur:
    print(row)
conn.close()

('김수현', 60)
('김은숙', 45)
('노희경', 30)
('노희경', 30)
('노희경', 30)
('노희경', 30)
('대조영', 500)
('송지나', 35)
('송지나', 35)
('송지나', 35)
('송지나', 35)
('이우정', 40)
('임성한', 40)
('임성한', 40)
('임성한', 40)
('임성한', 40)
('장보고', 1000)
('홍길동', 300)

In [70]:
# 원하는 순서 및 갯수
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select * from test order by age desc, name limit 3;")
rows = cur.fetchall()
print(rows)
conn.close()

[(3, '장보고', 1000), (2, '대조영', 500), (1, '홍길동', 300)]

In [57]:
# 함수
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select count(*) from test;")
count = cur.fetchone()
print(count, count[0])
conn.close()

(18,) 18

In [58]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select max(age), min(age), sum(age), avg(age) from test;")
row = cur.fetchone()
print(row)
conn.close()

(1000, 30, 2365, 131.38888888888889)

In [71]:
# 언팩킹
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select max(age), min(age), sum(age), avg(age) from test;")
max_age, min_age, sum_age, avg_age = cur.fetchone()
print(max_age, min_age, sum_age, avg_age)
conn.close()

1000 30 2365 131.38888888888889

### 검색

In [78]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("select * from test where age < ?;", (40,))
rows = cur.fetchall()
for row in rows:
    print(row)
conn.close()

(7, '노희경', 30)
(8, '송지나', 35)
(13, '노희경', 30)
(14, '송지나', 35)
(16, '노희경', 30)
(17, '송지나', 35)
(19, '노희경', 30)
(20, '송지나', 35)

### 데이터 변경

In [83]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("update test set age=1300 where id=2;")
conn.commit()
# 변경된 데이터 조회
cur.execute("select * from test where id=2;")
row = cur.fetchone()
print(row)
conn.close()

(2, '대조영', 1300)

### 데이터 삭제

In [85]:
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute("delete from test where id=6;")
conn.commit()
conn.close()