# MySQL

## Installation
```
$ pip install PyMySQL
```

## Import
```
import pymysql
```

## Usage
```
db = pymysql.connect(
    db = 'dbname', 
    user = 'dbuser', 
    passwd = 'dbpass', 
    host = '127.0.0.1',
    charset = 'utf8'
)
```

In [12]:
import pymysql
db = pymysql.connect(
    db = "world",
    user = "hsuser",
    password = "hspass",
    host = "localhost",
    charset = 'utf8'
)

In [13]:
cursor = db.cursor(pymysql.cursors.DictCursor)
cursor.execute("SELECT * FROM Users;")
rows = cursor.fetchmany(10)
for row in rows:
    print(row)

{'uid': 'a', 'pwd': 'ypeBEsobvcr6wjGzmiPcTaeG7/gUfE5yuYB3ha/uSLs=', 'uname': '', 'tel': '', 'email': '', 'regDate': datetime.datetime(2020, 10, 27, 9, 13, 31), 'isDeleted': 0, 'photo': 'undefined'}
{'uid': 'admin', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자', 'tel': '', 'email': '', 'regDate': datetime.datetime(2020, 10, 22, 18, 54, 4), 'isDeleted': 0, 'photo': ''}
{'uid': 'admin1', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자1', 'tel': '010-2345-6789', 'email': 'admin1@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 11), 'isDeleted': 0, 'photo': '/upload/blank1.png'}
{'uid': 'admin10', 'pwd': '', 'uname': '관리자102', 'tel': '010-2345-6789', 'email': 'admin10@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': ''}
{'uid': 'admin11', 'pwd': '', 'uname': '관리자1', 'tel': '010-2345-6789', 'email': 'admin11@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': ''}
{'uid': 'admin12', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자12', 'tel': '010-2345-6789', 'email': 'admin12@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': '/upload/blank12.png'}
{'uid': 'admin13', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자13', 'tel': '010-2345-6789', 'email': 'admin13@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': '/upload/blank13.png'}
{'uid': 'admin14', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자14', 'tel': '010-2345-6789', 'email': 'admin14@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': '/upload/blank14.png'}
{'uid': 'admin15', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자15', 'tel': '010-2345-6789', 'email': 'admin15@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': '/upload/blank15.png'}
{'uid': 'admin16', 'pwd': 'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', 'uname': '관리자16', 'tel': '010-2345-6789', 'email': 'admin16@hoseo.com', 'regDate': datetime.datetime(2020, 10, 22, 11, 7, 25), 'isDeleted': 0, 'photo': '/upload/blank16.png'}

In [14]:
import pandas as pd
results = pd.DataFrame(rows)
results

,uid,pwd,uname,tel,email,regDate,isDeleted,photo
0,a,ypeBEsobvcr6wjGzmiPcTaeG7/gUfE5yuYB3ha/uSLs=,,,,2020-10-27 09:13:31,0,undefined
1,admin,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자,,,2020-10-22 18:54:04,0,
2,admin1,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자1,010-2345-6789,admin1@hoseo.com,2020-10-22 11:07:11,0,/upload/blank1.png
3,admin10,,관리자102,010-2345-6789,admin10@hoseo.com,2020-10-22 11:07:25,0,
4,admin11,,관리자1,010-2345-6789,admin11@hoseo.com,2020-10-22 11:07:25,0,
5,admin12,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자12,010-2345-6789,admin12@hoseo.com,2020-10-22 11:07:25,0,/upload/blank12.png
6,admin13,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자13,010-2345-6789,admin13@hoseo.com,2020-10-22 11:07:25,0,/upload/blank13.png
7,admin14,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자14,010-2345-6789,admin14@hoseo.com,2020-10-22 11:07:25,0,/upload/blank14.png
8,admin15,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자15,010-2345-6789,admin15@hoseo.com,2020-10-22 11:07:25,0,/upload/blank15.png
9,admin16,A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=,관리자16,010-2345-6789,admin16@hoseo.com,2020-10-22 11:07:25,0,/upload/blank16.png