# 연습문제 - 09.Sqlite3.pdf

투수들의 기록중에서 평균자책점(ERA), 투구인닝(IP), 탈삼진(SO) 기록을 찾아서
Pitcher_stats 란 테이블을 만들고, Eagles 테이블과 Join 하여 백넘버, 선수명, 포지션,
투구인닝, 평균자책점, 탈삼진 필드를 갖는 데이터 프레임을 만들어서 Join 한 결과를 입력하고, 그 결과를 보이시오.

In [90]:
conn = sqlite3.connect('./test.db')

In [91]:
cur = conn.cursor()

cur.execute("""
create table if not exists Pitcher_stats (
  id integer primary key autoincrement,
  name text not null,
  ERA integer not null,
  IP integer not null,
  SO integer not null
);
""")
conn.commit()

rows = (
    ('서균', 0.00, 7, 1), 
    ('윤대경', 1.59, 51, 42), 
    ('강재민', 2.57, 49, 57),
    ('김진영', 3.33, 54, 56),
    ('장웅정', 3.52, 7, 5),
)
cur.executemany("insert into Pitcher_stats(name, ERA, IP, SO) values(?, ?, ?, ?)", rows)
conn.commit()

In [92]:
cur = conn.cursor()

cur.execute("""
create table if not exists Eagles (
  id integer primary key autoincrement,
  name text not null,
  backnumber integer not null,
  position text not null
);
""")
conn.commit()

rows = (
    ('서균', 10, '투수'), 
    ('윤대경', 11, '투수'), 
    ('강재민', 12, '투수'),
    ('김진영', 13, '투수'),
    ('장웅정', 14, '투수'),
)
cur.executemany("insert into Eagles(name, backnumber, position) values(?, ?, ?)", rows)
conn.commit()

In [107]:
cur = conn.cursor()

cur.execute("""
select e.name, e.backnumber, e.position, p.ERA, p.IP, p.SO
from Eagles as e 
join Pitcher_stats as p 
on e.name=p.name  
""")

rows = cur.fetchall()
fields = ('이름', '백넘버', '포지션', 'ERA', 'IP', 'SO')
print(fields)
for row in rows:
    print(row)

('이름', '백넘버', '포지션', 'ERA', 'IP', 'SO')
('서균', 10, '투수', 0, 7, 1)
('윤대경', 11, '투수', 1.59, 51, 42)
('강재민', 12, '투수', 2.57, 49, 57)
('김진영', 13, '투수', 3.33, 54, 56)
('장웅정', 14, '투수', 3.52, 7, 5)

In [108]:
conn.close()

다음의 지시대로 DB 테이블을 만들고 이를 조회하는 프로그램을 만드시오.

1. 국내의 대표적인 걸그룹 또는 보이그룹 5개 이상에 대하여 다음과 같은 정보를 갖는
테이블을 만드시오. \*는 Primary Key   
id(\*), group_name, 구성원 수, 데뷔일자, 소속사

2. 이들이 불렀던 노래 또는 다른 사람이 불렀던 노래 10곡 이상에 대하여 다음의 정보
를 갖는 테이블을 만드시오.   
song_id(\*), song_name, 그룹 id, 발표년도, 작곡가, 도입부 가사

3. 위 두개의 테이블을 조인한 결과를 가지고 다음의 필드를 갖는 데이터 프레임을 만드
시오.   
그룹 이름, 구성원 수, 데뷔 일자, 노래 이름, 발표 년도

In [110]:
conn = sqlite3.connect('./test.db')

In [112]:
cur = conn.cursor()

cur.execute("""
create table if not exists singer (
  id integer primary key autoincrement,
  group_name text not null,
  group_number integer not null,
  agency text not null,
  debut text not null
);
""")
conn.commit()

rows = (
    ('티오오', 10, 'n.CH 엔터테인먼트', 2020), 
    ('크래비티', 9, '스타쉽 엔터테인먼트', 2020), 
    ('레드벨벳-아이린&슬기', 2, 'SM 엔터테인먼트', 2020),
    ('트레저', 12, 'YG 엔터테인먼트	', 2020),
    ('엔쿠스', 12, '규리엔터테인먼트', 2019),
)
cur.executemany("insert into singer(group_name, group_number, agency, debut) values(?, ?, ?, ?)", rows)
conn.commit()

In [113]:
cur.execute("select * from singer")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '티오오', 10, 'n.CH 엔터테인먼트', '2020')
(2, '크래비티', 9, '스타쉽 엔터테인먼트', '2020')
(3, '레드벨벳-아이린&슬기', 2, 'SM 엔터테인먼트', '2020')
(4, '트레저', 12, 'YG 엔터테인먼트\t', '2020')
(5, '엔쿠스', 12, '규리엔터테인먼트', '2019')

In [117]:
cur = conn.cursor()

cur.execute("""
create table if not exists song (
  song_id integer primary key autoincrement,
  song_name text not null,
  group_id integer not null,
  release text not null,
  writer text not null,
  lyrics text not null
);
""")
conn.commit()

rows = (
    ('하나 둘 세고', 1, '2020-07-15', 'MonoTree', "이 세상 어디에 있든 난 언제든지 You for you 너만을 위한 Show를 보여줄게 단 하나뿐인 Stage Only one for you 너와 나 단둘만의 누가 뭐라든 간에 너라면은 없던 시간도"),
    ('Flame', 2, '2020-08-24', 'Blair Taylor', "끝없이 오른 열기 번지는 뜨거움 흐릿해지는 현실 선명한 이건 꿈 더욱 깊이 파고드는 fire in the air 낯선 이끌림, 깨지 않는 dream, what is happening"), 
    ('Monster', 3, '2020-07-06', '유영진', "내 움직임은 특이해 평범치 않아 1 2 5 to 7 난 어둠 속의 Dancer 온몸 뚝뚝 꺾어 침대 가까이 갈게 무시무시하게"),
    ('사랑해 (I LOVE YOU)', 4, '2020-09-18', 'R.Tee', "떠올린 네 생각에 머리가 좀 복잡해 깨질 것만 같아 가득한 Fantasy 궁금한 Mystery 제발 힌트를 줘 사소한 것 하나까지 널 따라해"),
    ('SUPER LUV', 5, '2019-08-27', '비오 (B.O.)', "칠흑같이 어두운 오늘 밤 너를 데려갈래 지금 Now 너만을 향해 너라는 바다를 항해 고장 난 Break는 멈출 수가 없어 더 더 빠져들어가 너 너라는 섬으로 좀 더 깊게 물들어가게"),
)
cur.executemany("insert into song(song_name, group_id, release, writer, lyrics) values(?, ?, ?, ?, ?)", rows)
conn.commit()

In [118]:
cur.execute("select * from song")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, '하나 둘 세고', 1, '2020-07-15', 'MonoTree', '이 세상 어디에 있든 난 언제든지 You for you 너만을 위한 Show를 보여줄게 단 하나뿐인 Stage Only one for you 너와 나 단둘만의 누가 뭐라든 간에 너라면은 없던 시간도')
(2, 'Flame', 2, '2020-08-24', 'Blair Taylor', '끝없이 오른 열기 번지는 뜨거움 흐릿해지는 현실 선명한 이건 꿈 더욱 깊이 파고드는 fire in the air 낯선 이끌림, 깨지 않는 dream, what is happening')
(3, 'Monster', 3, '2020-07-06', '유영진', '내 움직임은 특이해 평범치 않아 1 2 5 to 7 난 어둠 속의 Dancer 온몸 뚝뚝 꺾어 침대 가까이 갈게 무시무시하게')
(4, '사랑해 (I LOVE YOU)', 4, '2020-09-18', 'R.Tee', '떠올린 네 생각에 머리가 좀 복잡해 깨질 것만 같아 가득한 Fantasy 궁금한 Mystery 제발 힌트를 줘 사소한 것 하나까지 널 따라해')
(5, 'SUPER LUV', 5, '2019-08-27', '비오 (B.O.)', '칠흑같이 어두운 오늘 밤 너를 데려갈래 지금 Now 너만을 향해 너라는 바다를 항해 고장 난 Break는 멈출 수가 없어 더 더 빠져들어가 너 너라는 섬으로 좀 더 깊게 물들어가게')

In [119]:
cur = conn.cursor()

cur.execute("""
select sr.group_name, sr.group_number, sr.debut, so.song_name, so.release
from singer as sr
join song as so
on sr.id=so.group_id  
""")

rows = cur.fetchall()
fields = ('그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도')
print(fields)
for row in rows:
    print(row)

('그룹 이름', '구성원 수', '데뷔 일자', '노래 이름', '발표 년도')
('티오오', 10, '2020', '하나 둘 세고', '2020-07-15')
('크래비티', 9, '2020', 'Flame', '2020-08-24')
('레드벨벳-아이린&슬기', 2, '2020', 'Monster', '2020-07-06')
('트레저', 12, '2020', '사랑해 (I LOVE YOU)', '2020-09-18')
('엔쿠스', 12, '2019', 'SUPER LUV', '2019-08-27')

In [120]:
conn.close()

사용자의 이름과, 비밀번호를 갖는 Users 테이블이 있다. 사용자의 이름과 비밀번호를 올바르게 입력하면 ‘성공’을 출력하고, 잘못 입력하면 ‘실패’를 출력하는 프로그램을 작성하시오.

In [122]:
conn = sqlite3.connect('./test.db')

In [124]:
cur = conn.cursor()

cur.execute("""
create table if not exists Users (
  id integer primary key autoincrement,
  uid text not null,
  pwd text not null
);
""")
conn.commit()

rows = (
    ('a', '123'),
    ('b', '456'),
)
cur.executemany("insert into Users(uid, pwd) values(?, ?)", rows)
conn.commit()

In [158]:
uid, pwd = input().split()

cur = conn.cursor()
cur.execute('select uid, pwd from Users where uid=?;', (uid,))
row = cur.fetchone()

try:
    if uid == row[0] and pwd == row[1]:
        print('성공')
    else:
        print('실패')
except Exception as e:
    print('실패')

성공

In [159]:
conn.close()