# 11. 연습문제 - 10.Numpy.pptx

In [1]:
import numpy as np

### 1. 길이가 10인 0-벡터를 만드세요.

In [2]:
a = np.arange(0, 10)
a.shape, a

((10,), array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]))

### 2. 길이가 10이며 다선번째 원소만 1이고 나머지 원소는 모두 0인 벡터를 만드세요.

In [3]:
a = np.zeros(10)
a[4] = 1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

In [4]:
a = np.eye(10)
a

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [5]:
a = np.eye(10)[4]
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

### 3. 10 부터 49까지의 값을 가지는 벡터를 만드세요.

In [6]:
n = np.arange(10, 50)
n

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

### 4. 위(3번) 벡터의 순서를 바꾸세요.

In [7]:
np.random.shuffle(n)
n

array([38, 10, 31, 13, 37, 30, 27, 20, 42, 26, 14, 19, 39, 47, 36, 12, 11,
       34, 22, 44, 41, 16, 46, 24, 48, 17, 23, 40, 18, 49, 28, 15, 33, 21,
       45, 43, 32, 35, 25, 29])

### 5. 0부터 8까지의 값을 가지는 3x3 행렬을 만드세요.

In [8]:
t = np.arange(0, 9).reshape(3, 3)
t

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

### 6. 벡터 [1,2,0,0,4,0] 에서 원소의 값이 0이 아닌 원소만 선택한 벡터를 만드세요.

In [9]:
n = np.array([1, 2, 0, 0, 4, 0])
n[np.nonzero(n)]

array([1, 2, 4])

### 7. 3x3 단위 행렬(identity matrix)을 만드세요.

In [10]:
D = np.identity(3)
D

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [11]:
D = np.eye(3)
D

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### 8. 난수 원소를 가지는 3x3 행렬을 만드세요.

In [12]:
n = np.random.rand(9).reshape(3,3)
n

array([[0.86978239, 0.62213126, 0.00657109],
       [0.27130406, 0.62052106, 0.57383489],
       [0.59379991, 0.65041692, 0.07235227]])

### 9. 위(8번)에서 만든 난수 행렬에서 최대값/최소값 원소를 찾으세요.

In [13]:
np.max(n), np.min(n)

(0.8697823944312674, 0.006571090478391883)

### 10. 위(8번)에서 만든 난수 행렬에서 행 평균, 열 평균을 계산하세요.

In [14]:
np.mean(n, axis=1), np.mean(n, axis=0)

(array([0.49949491, 0.48855334, 0.43885637]),
 array([0.57829545, 0.63102308, 0.21758608]))